<div class="container" style="width: 70%;">
    <h2>Cookies Policy</h2> <br><br>
    <h5>LOREAM collects information from our users at different points on our website.</h5> <br>
    <p>A cookie is a piece of data stored in the user’s hard drive containing information about the user. Many web sites, including this one, use cookie technology to help our customers navigate more efficiently. From time to time, our site will request the cookie from your browser so that we can retrieve the stored information. Knowing how you use the site enables us to better tailor our content and services to most effectively suit your needs. For instance, by setting a cookie on our site, the user would not have to log in a password more than once, thereby saving time while on our site. Once the user closes their browser, the cookie simply terminates. If a user rejects the cookie, they may still use our site.</p><br>
    <h5>Usage of a cookie is in no way linked to any personally identifiable information while on our site.</h5> <br>
    <p>Some of our business partners (such as advertisers) may use cookies on our sites. However, we have no access to or control of these cookies. With most browsers, a user can set the preferences to show a warning each time a cookie request is encountered and also set the browser not to accept cookies at all. However, to make visiting our site as easy and convenient as possible, we suggest you allow your browser to accept cookies.

    </p>

</div>
