<div class="card bg-dark text-white">
    <img src="https://images.unsplash.com/photo-1505843513577-22bb7d21e455?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img" alt="... " height="400px">
    <div class="card-img-overlay">
      <h1 class="text-center" >EREC CONSTRUCTION</h1>
      <h5 class="text-center" style="color: rgb(255, 255, 255);">Welcome to our construction haven, where dreams take shape, and visions materialize into architectural marvels.<br> Our commitment goes beyond bricks and mortar; it extends to crafting living spaces that resonate with innovation,  style, <br> and unparalleled quality.</h5>
      
    </div>
  </div>
  <div class="container">

    <div class="row g-1">
      <div class="col-md-6">
        <img src="https://images.unsplash.com/photo-1579847188804-ecba0e2ea330?q=80&w=1948&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="img-fluid rounded-start" alt="..." width="300px" height="400px">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h2 class="card-title">ABOUT</h2>
          <p class="card-text">Our website is your gateway to a world of architectural brilliance and construction expertise. Here, you'll discover a diverse portfolio showcasing our finest projects, each a testament to our dedication to quality craftsmanship and cutting-edge design. Whether it's residential, commercial, or public infrastructure, we bring a unique blend of creativity and technical prowess to every endeavor.

            Explore our project gallery to witness the transformation of spaces into living, breathing works of art. From groundbreaking designs to sustainable solutions, our constructions stand as beacons of quality and durability. We believe in building not just structures but legacies that withstand the test of time.
            
            At LOREAM, safety is paramount. Learn more about our stringent safety protocols, ensuring that every project is executed with the well-being of occupants and workers in mind. Our commitment to safety goes hand in hand with our promise of delivering structures that prioritize both form and function.
            
            Navigate through our services section to understand the breadth of our offerings. From residential construction to commercial spaces and specialized projects, we cater to diverse needs with unmatched expertise. Our team of architects, engineers, and skilled labor is dedicated to turning your vision into reality.
            
            Stay updated with the latest trends, insights, and industry news through our blog section. We believe in sharing knowledge and empowering our clients with the information they need to make informed decisions about their projects.
            
            Ready to embark on a construction journey with us? Connect with our team through our contact page, where you can reach out for inquiries, collaborations, or consultations. Your dream project starts with a simple click or call, and we're here to guide you every step of the way.
            
            Welcome to LOREAM, where every click unveils a world of construction excellence and a commitment to building a better tomorrow.</p>
          
        </div>
      
    </div>
  </div>
</div>