.card-img-overlay {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.322);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(0.9px);
    font-weight: bold;
}


h1{
    padding-top: 100px;
    padding-bottom: 50px; 
    font-family: algerian;
    color: rgb(255, 2, 2);
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
}  

.img-fluid {
    width: 90%;
   height: 500px;
   margin-top: 50px;
}
h2{
    margin-top: 50px;
    font-family: algerian;
    color: red;
    font-size: 2rem;
}
