<div class="container">
    <h3 style="margin-top: 100px; margin-bottom: 50px;"> Vastu Planning:</h3>
      <p> Vastu planning is an ancient architectural practice rooted in traditional Indian wisdom that harmonizes architecture with natural elements to create balanced and positive living spaces. Vastu consultants apply principles based on directional alignments, spatial geometry, and energy flow to enhance the well-being and prosperity of occupants. By integrating Vastu Shastra into the design process, spaces are thoughtfully arranged to promote health, wealth, and harmony. Vastu planning seeks to establish a connection between the built environment and cosmic energies, fostering an environment that aligns with the natural forces and brings positive energy into every corner of the living or working space..</p>
  </div>
  
  <div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <img src="/assets/image/vast1.jpg" class="card-img-top" alt="...">
          
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="/assets/image/vast2.jpg" class="card-img-top" alt="...">
          
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="/assets/image/vast3.jpg" class="card-img-top" alt="...">
          
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="/assets/image/vast4.jpg" class="card-img-top" alt="...">
          
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid">
      <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div class="card">
              <img src="/assets/image/vast5.jpg" class="card-img-top" alt="...">
              
            </div>
          </div>
          
          </div>
        </div>
    
      