<div class="container" style="margin-top: 100px;">
    <h2 class="text-center">WE ARE STILL STICKING TO THE CULTURE</h2>
    <p>Building Homes with Tradition, Safety, and Quality:

        In the pursuit of creating homes that stand as timeless symbols of tradition, safety, and quality, builders embark on a journey that harmonizes the richness of heritage with contemporary standards. Traditional home building not only pays homage to cultural roots but also reflects a commitment to enduring craftsmanship and architectural integrity.
        
        Safety takes center stage in the construction process, ensuring that homes provide a secure haven for their occupants. Adherence to stringent safety codes, robust structural designs, and the incorporation of cutting-edge safety features contribute to creating residences that withstand the test of time and unforeseen challenges.
        
        The commitment to quality extends beyond the aesthetic aspects to the use of premium materials and skilled workmanship. Quality products are selected for every facet of the construction process, from the foundation to the finishing touches, ensuring durability, functionality, and a sense of timelessness. By blending tradition, safety, and quality, builders craft homes that not only embrace the past but also serve as resilient and cherished spaces for generations to come.</p>

<div>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card">
                <img src="/assets/image/mat4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Material Contractor:</h5>
                  <p class="card-text"> Their attention to detail and commitment to excellence contribute to the durability, safety, and aesthetic appeal of the final structure. From concrete and steel to finishing touches, a material contractor's expertise is fundamental in transforming architectural visions into solid, well-constructed realities.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="/assets/image/vast4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Vastu Planning:</h5>
                  <p class="card-text"> integrating Vastu Shastra into the design process, spaces are thoughtfully arranged to promote health, wealth, and harmony. Vastu planning seeks to establish a connection between the built environment and cosmic energies, fostering an environment that aligns with the natural forces and brings positive energy into every corner of the living or working space.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="/assets/image/ele7.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Electrical work:</h5>
                  <p class="card-text">From wiring and lighting to the installation of electrical panels and outlets, electrical works play a crucial role in powering homes, offices, and industrial spaces. These professionals adhere to stringent safety standards, ensuring that electrical systems are not only functional but also comply with local building codes.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="/assets/image/bul7.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">OUR BUILDINGS:</h5>
                  <p class="card-text">Building is a collaborative effort, bringing together diverse skills and expertise. Engineers, architects, builders, and craftsmen work in harmony to ensure that every element serves its purpose seamlessly. Attention to detail becomes a guiding principle, from the choice of materials to the precision of construction.</p>
                </div>
              </div>
            </div>
          </div>
    </div>