 
    <h2 class="text-center" style="padding-top: 50px;">Our Designs</h2>
    
    <p class="text-center" style="padding-bottom: 50px;">MADE WITH QUALITY PRODUCTS</p>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="assets/image/wall1.jpg">
          <img src="assets/image/wall1.jpg" alt="Cinque Terre" >
        </a>
        <div class="desc">Choose a dark color that complements the overall color scheme of the room. Popular choices include deep charcoal, navy blue, rich burgundy, or forest green.
            Consider the mood you want to create. Darker colors can evoke a sense of coziness, intimacy, and drama.</div>
      </div>
    </div>
    
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="assets/image/bed1.jpg">
          <img src="assets/image/bed1.jpg" alt="Forest" >
        </a>
        <div class="desc">Choose curtains or blinds that enhance the overall design. Consider blackout curtains for better sleep quality.
            Allow natural light in during the day and use window treatments to control privacy and light in the evening.Remember, the key to a successful bedroom design is creating a space that feels comfortable, reflects your personal style, and promotes relaxation.
</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="assets/image/kit1.jpg">
          <img src="assets/image/kit1.jpg" alt="Northern Lights" >
        </a>
        <div class="desc">Choose a layout that suits your needs. Common layouts include L-shaped, U-shaped, galley, and open-concept kitchens.
            Ensure an efficient work triangle between the stove, sink, and refrigerator.</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="assets/image/kit2.jpg">
          <img src="assets/image/kit2.jpg" alt="Mountains" >
        </a>
        <div class="desc">Use a backsplash to add a decorative element to the kitchen. It also protects the walls from splashes and spills.
            Choose materials like subway tiles, mosaic, or even natural stone.</div>
      </div>
    </div>
    
    <div class="clearfix"></div>

    <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="assets/image/wall2.jpg">
            <img src="assets/image/wall2.jpg" alt="Cinque Terre" >
          </a>
          <div class="desc">Choose a color palette that complements the overall theme of the room.
            Experiment with accent walls or two-tone color schemes for added interest.
            Consider using bold and vibrant colors for a statement wall.</div>
        </div>
      </div>
      
      
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="assets/image/cel2.jpg">
            <img src="assets/image/cel2.jpg" alt="Forest" >
          </a>
          <div class="desc">Use wallpaper to add patterns, textures, or murals to the walls.
            Consider temporary or peel-and-stick wallpaper for easy changes.
            Wallpaper can be applied to an entire room or used to create an accent wall.</div>
        </div>
      </div>
      
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="assets/image/bed2.jpg">
            <img src="assets/image/bed2.jpg" alt="Northern Lights" >
          </a>
          <div class="desc">Place the bed as the focal point of the room. This often means positioning it against the longest wall, away from the entrance.
            Ensure there's enough space on either side of the bed for nightstands.Keep furniture to a minimum to avoid clutter. Essential bedroom furniture includes a bed, nightstands, and a dresser or wardrobe.Choose a calming color palette. Soft neutrals, muted tones, and pastel colors are often preferred for bedrooms.
            Consider incorporating a mix of warm and cool tones to create balance</div>
        </div>
      </div>
      
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="assets/image/bed3.jpg">
            <img src="assets/image/bed3.jpg" alt="Mountains" >
          </a>
          <div class="desc">Choose a dark color that complements the overall color scheme of the room. Popular choices include deep charcoal, navy blue, rich burgundy, or forest green.
            Consider the mood you want to create. Darker colors can evoke a sense of coziness, intimacy, and drama.</div>
        </div>
      </div>
      
      <div class="clearfix"></div>
      