<div class="container">
  <h3 style="margin-top: 100px; margin-bottom: 50px;"> Material Contractor:</h3>
    <p>A material contractor plays a pivotal role in the construction process, ensuring that the right materials are sourced and utilized for the project. With expertise in the construction industry, material contractors collaborate closely with architects and builders to procure high-quality materials, manage the supply chain, and maintain stringent quality control. Their attention to detail and commitment to excellence contribute to the durability, safety, and aesthetic appeal of the final structure. From concrete and steel to finishing touches, a material contractor's expertise is fundamental in transforming architectural visions into solid, well-constructed realities.</p>
</div>

<div class="container-fluid">
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="/assets/image/mat1.jpg" class="card-img-top" alt="...">
        
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/assets/image/mat2.jpg" class="card-img-top" alt="...">
        
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/assets/image/mat3.jpg" class="card-img-top" alt="...">
        
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/assets/image/mat4.jpg" class="card-img-top" alt="...">
        
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="/assets/image/mat5.jpg" class="card-img-top" alt="...">
            
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/assets/image/mat6.jpg" class="card-img-top" alt="...">
            
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/assets/image/mat7.jpg" class="card-img-top" alt="...">
           
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/assets/image/mat8.jpg" class="card-img-top" alt="...">
           
          </div>
        </div>
      </div>
    </div>
    