<div class="container">
    <h3 style="margin-top: 100px; margin-bottom: 50px;">  Electrical Works:</h3>
      <p> Electrical works in construction encompass a wide array of services that are essential for the functionality, safety, and efficiency of a building's electrical systems. Skilled electricians and electrical contractors collaborate to design, install, and maintain electrical components, ensuring a seamless integration of power supply throughout the structure.
        
        From wiring and lighting to the installation of electrical panels and outlets, electrical works play a crucial role in powering homes, offices, and industrial spaces. These professionals adhere to stringent safety standards, ensuring that electrical systems are not only functional but also comply with local building codes..</p>
  </div>
  
  <div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <img src="/assets/image/ele1.jpg" class="card-img-top" alt="...">
          
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="/assets/image/ele2.jpg" class="card-img-top" alt="...">
          
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="/assets/image/ele3.jpg" class="card-img-top" alt="...">
          
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="/assets/image/ele4.jpg" class="card-img-top" alt="...">
          
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid">
      <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div class="card">
              <img src="/assets/image/ele5.jpg" class="card-img-top" alt="...">
              
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="/assets/image/ele6.jpg" class="card-img-top" alt="...">
              
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="/assets/image/ele7.jpg" class="card-img-top" alt="...">
             
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="/assets/image/ele8.jpg" class="card-img-top" alt="...">
             
            </div>
          </div>
        </div>
      </div>
      